@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('./assets/fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff') format('woff'),
      url('./assets/fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.ttf') format('truetype'),
      url('./assets/fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.eot') format('embedded-opentype'),
      url('./assets/fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

html {
  overflow: hidden;
  font-family: Montserrat-ExtraLight, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
